@import '~bulma/sass/utilities/mixins'
@import _var


select::-ms-expand
    display: none

.columns
  flex: 1
  
//basic setting
.breadcrumb-content
  padding-top: 30px

  +tablet
    padding-top: 40px
    
  +widescreen
    padding-top: 48px

.breadcrumb
  li , a
    color: #707070
    font-size: 20px
    line-height: 1.5
    +tablet
      font-size: 30px

  li:not(:last-child) a.router-link-active
    color: $color
    text-decoration: underline
    

  // li:first-child
  //   &:before
  //     content: " ▶ ▶"
  //     color: #707070
  //     font-size: 10px
  //     margin-right: 10px
  //     transform: scale(.8)
  //     +tablet
  //       transform: none
        

  li + li::before
    content: " ▶ ▶"
    color: #707070
    font-size: 10px
    transform: scale(.8)
    +tablet
      transform: none

  li.is-active,
  li.is-active a
    color: $color

.all-bg
  background-color: #FAFAFA

.container
  padding: 0 15px
  font-family: 'Arial'

.main-box
  padding-bottom: 50px
  box-sizing: border-box


.space-line
  width: 100%
  height: 1px
  background-color: $gray200
  margin-top: 90px

  +mobile
    margin-top: 50px


.buttons
  justify-content: center

.button.is-org
  min-width: 110px
  max-width: 140px
  background-color: $color
  color: white
  border: none
  font-size: 18px
  height: 38px
  padding-top: 0
  padding-bottom: 0

  span
    color: white


.buttons
  text-align: center

  a
    display: block


// 共用 class name
.bd-anchor-title
  text-align: left
  margin-top: 50px
  margin-bottom: 65px

  +mobile
    margin-top: 80px
    margin-bottom: 30px


.bd-anchor-name
  color: $gray
  font-size: 30px
  line-height: 1.5
  padding-left: 30px
  position: relative

  +mobile
    font-size: 26px
  
  &::before
    content: ""
    position: absolute
    top: 5px
    left: 0
    width: 10px
    height: 30px
    background-color: $color

    +mobile
      height: 26px

.hr
  width: 100%
  height: 1px
  background-color: #C5C5C5
  margin-bottom: 45px
  margin-top: 10px

.main-box__header-inner
  // padding-left: 20px
  // padding-right: 20px
  display: flex
  align-items: center

  .button.is-org
    min-width: 138px

  +mobile
    // padding-top: 20px
    // padding-bottom: 20px

    .columns
      display: flex
      flex-flow: row wrap

    .columns .column:nth-child(1)
      order: 2
      padding: 0
      flex: 100%
    .columns .column:nth-child(2)
      order: 1
      padding-bottom: 0
      flex: 100%

  +tablet
    // padding-top: 30px
    // padding-bottom: 30px
    padding-left: 5%
    padding-right: 5%

    .columns
      display: flex


  +desktop
    min-height: 460px
    padding-left: 60px
    padding-right: 60px

  +fullhd
    padding-left: 180px
    padding-right: 180px
  

  .columns
    height: 100%

.main-box__header
  background-color: black

  .title
    color: white
    font-weight: 500
    line-height: 1.2
    font-family: 'Oswald', sans-serif
    text-align: left

    +mobile
      font-size: 60px

    +tablet
      font-size: 66px


  .photo
    margin: 0 auto
    +mobile
      max-width: 80%

  .description
    color: white
    text-align: left
    text-transform: uppercase
    

    +mobile
      font-size: 16px
      margin-bottom: 20px

    +tablet
      font-size: 18px
      margin-bottom: 30px

.main-box__txt
  color: black
  line-height: 1.5
  text-align: left
  
  +mobile
    font-size: 16px
    padding-bottom: 40px
    padding-top: 30px

  +tablet
    padding-top: 48px
    padding-bottom: 53px
    font-size: 18px
  


// home page
.product-content__inner
  +mobile
    padding-left: 0
    padding-right: 0
  +desktop
    padding-left: 50px
    padding-right: 50px
    
.main-box__header
  +mobile
    padding-top: 30px
    padding-bottom: 30px
.card-image
  padding: 30px

  +mobile
    padding: 15px
    padding-bottom: 0

.card-content
  padding: 15px

  +mobile
    padding: 10px
    padding-bottom: 20px
    margin-top: -10vw

.product-img
  +mobile
    max-width: 400px
    width: 100%

.image img
  +mobile
    max-width: 250px
    margin: 0 auto
//type
@import '_type'

//video
@import '_videoPage'

//sideMenu
@import '_sideMenu'

.search-result
  text-align: left

  .filter-content__main
    p
      margin-bottom: 8px
      margin-top: 8px

  .search-bar
    display: flex

    .item
      flex: auto

  .search-bar input
    width: 100%
    max-width: 210px

    
.search-result-total
  vertical-align: middle
  margin-bottom: 30px
  line-height: 38px

  span
    margin-right: 10px
    font-size: 18px
    line-height: 1.5
    

.search-bar
  text-align: left
  padding-bottom: 42px
  
  label
    margin-right: 10px

  input
    width: 320px
    height: 40px
    border: 1px solid #707070
    padding: 0 10px
    font-size: 18px
    line-height: 1

  button
    min-width: 120px
    margin-left: 18px
    border-radius: 5px

  

.select-style
  position: relative
  border: 1px solid #C5C5C5
  max-width: 200px
  margin: 0 auto
  select
    appearance: none
    width: 100%
    height: 40px
    padding: 0 10px
    padding-right: 30px
    border: none
    text-transform: uppercase
    color: #707070
    font-size: 18px
    font-family: "Arial"
    line-height: 1
  
  &::after
    position: absolute
    content: ""
    top: 18px
    right: 13px
    width: 0
    height: 0
    border: 5px solid transparent
    border-color: #000 transparent transparent transparent



.media-content .title
  text-transform: uppercase


.icon-bar
  display: inline-block
  width: 48px
  height: 48px
  background: url(~@/assets/icon/icon-bar.png)


.icon-x
  display: inline-block
  width: 48px
  height: 48px
  background: url(~@/assets/icon/icon-x.png)